*{
    margin: 0;
    padding:0;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
/* HEADER */
.header{
    color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A6A6A6;
}

.header > div {
    margin: 10px;
}

.ferreLogo{
    width: 200px;
}

.searchBar{
    background-color: #D9D9D9;
    height: 50px;
    flex:1;
    display: flex;
    border-radius: 50px;
    align-items: center;
}

.searchIconContainer {
    margin: 10px;
}

.searchInput{
    background-color: transparent;
    border:none;
    width: 100%;
    outline: none;
    color:white;
    font-size: 16px;
}

.headerItems{
    display: flex;
}

.headerItems > a > p {
    margin: 10px;
    
}

.headerItems a {
    text-decoration: none;
    color: white;

}

.shopCarButton{
    background: linear-gradient(to right, #59f9b7, #66feea);
    padding: 15px 40px;
    border-radius: 50px;
    color:black
}

/* MAIN */
.main{
    background-image: url("/assets/main/mainBackground.jpg");
    height: 586px;
    background-size: cover;
    background-position: center center;
    display: flex;
    
}

.mainInfo{
    font-family: Poppins, sans-serif;
    background-color: rgb(32, 34, 37,0.6);
    
    padding-left: 30px;
    display:flex;
    flex-flow: column;
    justify-content: center;
}

.mainInfo > h1{
    color:white;
    font-weight: bold;
    margin: 0px 10px 0px 0px;
}

.mainInfo > span{
    color: #8a939b;
    font-size: 24px;
    margin: 20px 0px 0px;
    display:flex;
    text-align: center;
    }

.mainImage{
    background-color: rgb(32, 34, 37,0.6);

}

.image{
    background-color: white;
    margin-top: 50px;
    margin-right: 30px;
    border-radius: 10px;
}

.imageContainer{
 padding-top: 50px;
 padding-right: 30px;
 
}
.img{
    object-fit: cover;
    width:100%;
    height: 100%;
   
}
 .imageInfo{
     background-color: #D9D9D9;
     display: flex;
     flex-flow: column;

 }
 .tituloTaladro{
     font-weight: bold;
     color: white;
     padding-left: 5px;
 }
 .precioTaladro{
     color: #1868B7;
     padding-left: 5px;
     font-weight: bold;
 }

.exploreButton{
    display:flex;
    width: 15rem;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: rgb(32, 129, 226);
    border: 1px solid rgb(32, 129, 226);
    color: rgb(255, 255, 255);
}
/* PAGINA PRODUCTOS */
.carrito{
    font-size: 23px;
    border-radius: 10px;
    border: solid 1px grey;
    margin: 20px;
    width: auto;
}
.carritoTitulo{
text-align: center;
font-weight: bold;
}
.listaCarrito{
    display: flex;
    justify-content: space-evenly;
}
.precioProductoenCarrito{
    color:grey;
}
.total{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;

}
#containerProductos{
    display:flex;
    flex-flow: wrap;
}
.productCard{
    display: flex;
    flex-direction: column;
    background-color: #E6E6E6;
    border:solid black 2px;
    border-radius: 5px;
    width: 245px;
    margin: 1rem;
}
.productImage > img{
  width: 241px;
}
.productInfo{
    padding: 6px;
}
.productName{
    font-weight: bold;
}
.productBtn{
  background-color: #2081E2;
  color:white;
  padding: 5px;
  border-radius: 10px;
  width: 9rem;
  margin: 5px;
  font-weight: bold;
}

/* FOOTER */
.footerContainer{
    background-color: #A6A6A6;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer{
    font-weight: bold;
    color:white;
}
